html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#main{
    position:fixed;
    height: 100%;
    width: 90%;
    left:5%;
    top:5%; 
}

#app{
    left: auto;
    height: 100%;
    width: 100%;
    display:flex; 
}

.listing-price{
    background-color: aqua;
    text-align: right;
}
